$red-bright: rgb(242, 95, 58);
$blue-dark: #242d52;
$gray-blue-dark: #9095a7;
$blue-extra-dark: #1d1e25;
$red-pale: #ffefeb;
$gray-light: #fafafa;

$violet-color: rgb(45, 38, 64);
$violet-color-darker: rgb(43, 39, 47);
$gray-blue-color: rgb(149, 169, 198);
$light-gray-color: rgb(250, 250, 250);
$dark-gray-color: rgb(131, 125, 135);